@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display:flex;
  flex-direction: column;
  justify-content: space-between;
  /* Turning the whole page into a flex box just blows my mind. But it keeps happening. Perhaps I should default to looking at each page as a flex block until shown that it isn't. */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  /* I put padding in the larger container rather than the buttons themselves. The effect is the same, but I can see that it would be good practice to put it here. */
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: #6d6d6d;

  /* Interestingly, I used an eye-dropper to get the color of the font, but it still ended up giving me something different from the #666 in the solution. */
}

.header, .footer, .left-links, .right-links {
  display:flex;
  gap: 16px;
  list-style-type: none;
  /* do something about default list margins? */
}

.header, .footer {
  justify-content: space-between;
  padding: 16px;
  /* Hah! I remembered to combine this one! */
}

.footer {
  background-color: #eeeeee;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* I did not include either flex 1 or gap 16, as the image already resembled the desired outcome without further adjustment. */
}

ul {
  margin: 0;
  padding: 0;

  /* I put the padding into the child elements, and created a universal command regarding links. As the links only appeared in these lists it makes no difference, but if I had other content with different styling, this could have made a difference. */
}